<div class="card">
  <div class="master card-container">
    <div class="mt-2">
      <a appAsideToggle [type]="'child'">
        Parent component-1
      </a>
    </div>
    <div class="mt-2">
      <a appAsideToggle [type]="'child'">
        Parent component-2
      </a>
    </div>
    <div class="mt-2">
      <a appAsideToggle [type]="'child'">
        Parent component-3
      </a>
    </div>
    <div class="mt-2">
      <a appAsideToggle [type]="'child'">
        Parent component-4
      </a>
    </div>
    <div class="mt-2">
      <a appAsideToggle [type]="'child'">
        Parent component-5
      </a>
    </div>
  </div>
</div>
<div class="child card-container">
  <app-child-one></app-child-one>
</div>
<div class="sub-child1 card-container">
  <app-sub-child></app-sub-child>
</div>